:root {
    --main-color: rgb(120, 200, 255);
    --light: #ccc;
    --dark: #002244;
    --darker: #001122;
    --link: #1e90ff;
    --link-hover: #202020;
    --link-d: var(--main-color);
    --link-d-hover: #ffa500;
}

html {
  scroll-behavior: smooth;
}

body {
    width: 100%;
    display: grid;
    grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
    align-content: space-between;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--dark);
}

header {
    grid-area: header;
    padding: 1vw;
    background-color: var(--light);
    filter: brightness(0.8);
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1vw;
    margin-bottom: 2vw;
    background-color: var(--light);
}

nav ul {
    grid-column: 2 / 3;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 0 0.5vw;
}

#toggleDark {
    grid-column: 3 / 4;
    justify-self: end;
    width: 3vw;
    height: 3vw;
    font-size: 20px;
}

main {
    grid-area: main;
}

section {
    padding: 2vw;
    border-radius: 2vw;
    margin: 2vw;
    background-color: var(--light);
}

#about p {
    padding-left: 1vw;
}

#about a {
    color: var(--link);
}

#about a:hover {
    color: var(--link-hover);
    border-bottom-color: var(--link-hover);
}

#skill-div {
    padding: 1vw;
}

.project {
    padding: 1vw;
    border-bottom: solid 0.1vw var(--dark);
}

.project-link {
    height: min-content;
}

.project-link a {
    justify-self: center;
}

img {
    width: 1em;
    vertical-align: middle;
}

#contact {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content min-content;
    column-gap: 2vw;
}

#contact #info {
    grid-area: 2 / 1 / 3 / 2;
}

#contact #send-message {
    grid-area: 2 / 2 / 3 / 3;
}

#info {
    padding: 0 1vw;
    border-right: solid 2px var(--dark);
}

.myForm {
    width: fit-content;
    padding: 1vw 2.5vw;
    border: solid 0.1vw white;
    border-radius: 0.75vw;
    margin: 0.8vw 0;
    background-color: white;
}

.myForm label {
    display: block;
}

.myForm input, textarea {
    border: solid 0.1vw var(--light);
    border-radius: 0.75em;
    margin-bottom: 0.5vw;
    background-color: var(--light);
    color: var(--dark);
}

.myForm input[type="text"],.myForm input[type="email"], textarea {
    height: 1.5rem;
}

.myForm textarea {
    height: 5vw;
}

.myForm input[type="submit"] {
    border-color: var(--dark);
    border-radius: 0.5em;
}

.myForm input[type="submit"]:hover {
    background-color: var(--dark);
    color: var(--light);
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;
    margin-top: 2vw;
    background-color: var(--light  );
}

footer p {
    margin: 0;
}

h1 {
    margin: 0;
    color: var(--dark);
}

h2 {
    margin: 0 0 1vw 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0 0 0.5vw 0;
}

a {
    padding: 0.25vw;
    color: var(--link);
    text-decoration: none;
}

a:hover {
    border-bottom: solid 0.1vw var(--link-hover);
    border-radius: 0.5vw;
    color: var(--link-hover);
}

button {
    padding: 0;
    border: solid 0.1vw var(--dark);
    border-radius: 50%;
    background-color: var(--light);
    color: var(--dark);
}

button:hover {
    background-color: var(--dark);
    color: var(--light);
}

body.dark-mode {
   background: linear-gradient(to bottom, var(--dark), #000);
   color: var(--dark-c);
}

body.dark-mode header {
    background-color: var(--darker);
}

body.dark-mode nav {
    background-color: var(--darker);
}

body.dark-mode section {
    background-color: var(--darker);
    color: var(--light);
}

body.dark-mode #about a {
    color: var(--link-d);
}

body.dark-mode #about a:hover {
    border-bottom-color: var(--link-d-hover);
    color: var(--link-d-hover);
}

body.dark-mode .project {
    border-bottom-color: var(--light);
}

body.dark-mode #info {
    border-right-color: var(--light);
}

body.dark-mode .myForm {
    border-color: var(--dark);
    background-color: var(--dark);
}

body.dark-mode input[type="text"],body.dark-mode input[type="email"] {
    border-color: var(--darker);
    background-color: var(--darker); 
    color: var(--light);  
}

body.dark-mode textarea {
    border-color: var(--darker);
    background-color: var(--darker);
    color: var(--light);
}

body.dark-mode input[type="submit"] {
    border-color: var(--main-color);
    background-color: var(--dark);
    color: var(--main-color);
}

body.dark-mode input[type="submit"]:hover {
    background-color: var(--main-color);
    color: var(--dark);
}

body.dark-mode footer {
    background-color: var(--darker);
    color: var(--light);
}

body.dark-mode h1 {
    color: var(--light);
}

body.dark-mode a {
    color: var(--link-d);
}

body.dark-mode a:hover {
    border-bottom-color: var(--link-d-hover);
    color: var(--link-d-hover);
}

body.dark-mode button {
    border-color: var(--main-color);
    background-color: var(--dark);
    color: var(--main-color);
}

body.dark-mode button:hover {
    background-color: var(--main-color);
    color: var(--dark);
}

@media (width <= 426px) {
    body {
        font-size: 0.8rem;
    }

    nav {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    nav ul {
        grid-column: 1 / 2;
    }

    #toggleDark {
        grid-column: 2 / 3;
        width: 5vw;
        height: 5vw;
        margin: 1vw;
        font-size: 10px;
    }

    #toggleDark:hover {
        border-color: var(--dark);
        background-color: var(--light);
        color: var(--dark);
    }   

    body.dark-mode #toggleDark:hover {
        border-color: var(--main-color);
        background-color: var(--darker);
        color: var(--dark);
    }

    #contact {
        display: block;
    }
}